<footer class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>

  <div class="d-inline-flex p-2">
    <div class="d-flex flex-row-reverse">
        <div class="p-2"><a href="https://www.linkedin.com/in/karl-kemister-sheppard-09b34889/"><img src="/assets/linkedin.png" width="50" height="50" alt="social media linkedin account link" class="img-thumbnail"></div>
        <div class="p-2"><a href="https://github.com/kemister85"><img src="/assets/github.png" width="50" height="50" alt="GitHub profile link" class="img-thumbnail"></div>
        <div class="p-2"><a href="tel:+61413431813"><img src="/assets/smartphone.png" width="50" height="50" alt="Mobile dial link" class="img-thumbnail"></div>
        <div class="p-2"><a href="mailto:karlkemistersheppard@gmail.com"><img src="/assets/email.png" width="50" height="50" alt="Email link" class="img-thumbnail"></div>
    </div>
  </div>
</footer>

  <div class="copywrite">© 2022 Copyright:
    <p>Karl Kemister-Sheppard</p>
  </div>