<footer>
  <div class="d-flex flex-direction-column justify-content-center align-items-center">
    <div class="footer_container">
      <ul class="d-flex flex-direction-column justify-content-center">
        <li class="footer_icon" >
          <a href="https://www.linkedin.com/in/karl-kemister-sheppard-09b34889/"><img src="/assets/linkedin.png" class="img-fluid" alt="social media linkedin account link">
        </li>
        <li class="footer_icon">
          <a href="https://github.com/kemister85"><img src="/assets/github.png" class="img-fluid" alt="GitHub profile link">
        </li>
          <li class="footer_icon">
          <a href="tel:+61413431813"><img src="/assets/smartphone.png" class="img-fluid" alt="Mobile dial link">
        </li>
        <li class="footer_icon">
          <a href="mailto:karlkemistersheppard@gmail.com"><img src="/assets/email.png" class="img-fluid" alt="Email link">
        </li>
      </ul>
    </div>
  </div>
 </footer>

<div class="copy">© 2022 Copyright: Karl Kemister-Sheppard</div>

 
