<h1>About</h1>
    <h2>Passionate | Driven | Focused</h2>
<div>
Dedicated, task-driven professional with over 18 years of experience delivering business outcomes in FMCG sales and hospitality industries.<br> 
Equipped with an extensive library of knowledge and skills from my previous careers I am proficient in problem-solving, cost analysis, negotiations, strategic planning and creating development plans to improve both company and client objectives.<br> 

I display excellent verbal and written communication skills and have experience providing coaching and mentoring to support team members.<br> 
Other than coming pre-compiled with my previous array of experience, I have a basic understanding of design, wireframing and general coding practices <br> 
Technical skills include foundational programming experience with ROR | Ruby | CSS “SCSS” | HTML5 | Git “GitHub”.<br> 
<br> 

<h2>ADDITIONAL ATTRIBUTES AND QUALITIES</h2>
    <ul>
        <li>Positive work attitude and an eagerness to learn</li>
        <li>Able to work both autonomously and within a team</li>
        <li>Interact with clients to capture feedback and product issues</li>
        <li>Excellent verbal and written communication</li>
        <li>Strong stakeholder engagement and presentation skills</li>
        <li>Ability to work towards a deadline and manage multiple priorities</li>
        <li>Proactive and coupled with a passion for software development</li>
    </ul> 
</div>

<div class="about">
    <h1>This is a test for About SCSS</h1>
</div>
