<h1>Home Page</h1>
<p>Find me in app/views/home/index.html.erb</p>


<div class="karl">
    <p>this is a test</p>
</div>

<div class="apple">
    <h1>This is a Global Variable Class</h1>
</div>

<div class="testing">
    <h1>Testing Mixins + Variables</h1>
</div>