// _components.sass — everything that is reusable – buttons, navbars, cards

.card {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

    .btn-primary {
        background-color: $primarycolour;
        &:hover {
            transform: scale(1.1);
        }
     }
}
.wrap_blog {
    justify-content: space-around;
    font-size: 10px;
    border: 30px;
}

.copy {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 0.5rem;
    height: 3rem;
}
